@{
    ViewData["Title"] = "Home Page";
}

<div>
        <div class="container-hero">
    <div class="text-content">
        <h1>The Joel Hilton Film Collection</h1>
        <p>Welcome to the Joel Hilton Film Collection. This is a collection of films that I have made over the years. I hope you enjoy them.</p>
    </div>

    <div class="image-content">
        <img src="~/images/joelhiltonheadshot.jpg" />
    </div>
</div>


</div>


